PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/quiz-app?retryWrites=true&w=majority
JWT_SECRET=yoursecretjwtkey

# SMTP Configuration for Student Performance Email Reports
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
SMTP_FROM=noreply@quizmaster.com
MAIL_ENABLED=true
